<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>CU Apartments</title>
    <link rel="stylesheet" href="../styles/homePageStyles.css" />
    <link rel="stylesheet" href="../styles/productPageStyles.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="../index.html">CU Apartments</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-3"
            type="search"
            placeholder="🔍  Search by any location e.g. '301 College Ave'"
            aria-label="Search"
            id="form-control"
          />
          <button class="btn my-2 my-sm-0" id="search" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>

    <div class="info">
      <div class="row justify-content-md-center">
        <div class="col-sm-6">
          <div class="container">
            <div class="row">
              <div class="col">
                <h2 id="apartment-name"></h2>
                <h6 id="apartment-location"></h6>
                <h6 id="apartment-landlord"></h6>
              </div>
              <div class="col" id="ratings">
                <p id="landlord-rating">Landlord: </p>
                <p id="overall-rating">Overall: </p>
              </div>
            </div>
          </div>

          <form class="review-form">
            <h3 class="leave-review">Leave a Review ⬇️</h3>
            <div class="form-group">
              <!-- <textarea
                class="form-control"
                id="reviewTextArea"
                rows="3"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button> -->
              <h6>Search property name</h6>
              <input
                class="form-control mr-sm-3"
                type="search"
                placeholder="🔍  '301 College Ave'"
                aria-label="Search"
                id="form-control"
              />

              <div class="input-group mb-3" id="select">
                <select class="custom-select" id="inputGroupSelect02">
                  <option selected>Choose unit type</option>
                  <option value="1">Studio</option>
                  <option value="2">1 BD</option>
                  <option value="3">2 BD</option>
                  <option value="3">3 BD</option>
                  <option value="3">4 BD</option>
                </select>
              </div>
              <h6>Overall</h6>
              <div class="rating">
                <input type="radio" name="rating" value="5" id="5" /><label
                  for="5"
                  >☆</label
                >
                <input type="radio" name="rating" value="4" id="4" /><label
                  for="4"
                  >☆</label
                >
                <input type="radio" name="rating" value="3" id="3" /><label
                  for="3"
                  >☆</label
                >
                <input type="radio" name="rating" value="2" id="2" /><label
                  for="2"
                  >☆</label
                >
                <input type="radio" name="rating" value="1" id="1" /><label
                  for="1"
                  >☆</label
                >
              </div>
              <h6>Landlord</h6>
              <div class="rating">
                <input type="radio" name="rating" value="5" id="5" /><label
                  for="5"
                  >☆</label
                >
                <input type="radio" name="rating" value="4" id="4" /><label
                  for="4"
                  >☆</label
                >
                <input type="radio" name="rating" value="3" id="3" /><label
                  for="3"
                  >☆</label
                >
                <input type="radio" name="rating" value="2" id="2" /><label
                  for="2"
                  >☆</label
                >
                <input type="radio" name="rating" value="1" id="1" /><label
                  for="1"
                  >☆</label
                >
              </div>

              <div class="dropdown">
                <h6 style="display: inline-block; font-size: 15px">
                  amenities
                </h6>
                <button
                  class="btn dropdown-toggle"
                  style="margin: 0.5em"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  rate
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">sadf</a>
                  <a class="dropdown-item" href="#">sadf</a>
                  <a class="dropdown-item" href="#">asdf</a>
                </div>
                <h6 style="display: inline-block; font-size: 15px">location</h6>
                <button
                  class="btn btn-secondary dropdown-toggle"
                  style="margin: 0.5em"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  rate
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">test</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
                <h6 style="display: inline-block; font-size: 15px">laundry</h6>
                <button
                  class="btn btn-secondary dropdown-toggle"
                  style="margin: 0.5em"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  rate
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">test</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
                <br />
                <h6 style="display: inline-block; font-size: 15px">wifi</h6>
                <button
                  class="btn btn-secondary dropdown-toggle"
                  style="margin: 0.5em"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  rate
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">test</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>

              <textarea
                style="align-content: left"
                rows="5"
                cols="0"
                placeholder=" Add specific feedback here"
                id="reviewTextArea"
              ></textarea>

              <div class="buttoncontainer">
                <button class="btn my-2 my-sm-0" id="submit" type="submit">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-sm-5" id="right">
          <!-- <img src="../images/ctownplaza.jpg" class="apt-img" alt="Apartment" /> -->
          <div class="reviews">
            <!-- <h3>Past Reviews (3)</h3> -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="../data/apartments.js"></script>
<script>
  // Parse through url to get query string param for name
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  const apartment_name = urlParams.get('name');

  const apartment = apartments.filter( apartment => apartment.name == apartment_name)[0];

  // Populate apartment details on left panel
  const apartment_name_h2 = document.getElementById('apartment-name');
  apartment_name_h2.innerHTML = apartment.name;

  const apartment_location_h5 = document.getElementById('apartment-location');
  apartment_location_h5.innerHTML = apartment.location;

  const apartment_landlord_h5 = document.getElementById('apartment-landlord');
  apartment_landlord_h5.innerHTML = apartment.landlord;

  // Populate star ratings on left panel
  const landlord_rating_element = document.getElementById('landlord-rating');

  for (i = 0; i < apartment.landlord_rating; i++) {
    landlord_rating_element.innerHTML += '<span class="fa fa-star checked"></span>';
  }
  for (i = 0; i < 5 - apartment.landlord_rating; i++) {
    landlord_rating_element.innerHTML += '<span class="fa fa-star"></span>';
  }

  const overall_rating_element = document.getElementById('overall-rating');

  for (i = 0; i < apartment.overall_rating; i++) {
    overall_rating_element.innerHTML += '<span class="fa fa-star checked"></span>';
  }
  for (i = 0; i < 5 - apartment.overall_rating; i++) {
    overall_rating_element.innerHTML += '<span class="fa fa-star"></span>';
  }

  // Populate right panel with data
  const img_element = document.createElement('img');
  img_element.src = "../images/" + apartment.image + ".jpg";
  img_element.className = "apt-img";
  img_element.alt = "Apartment";

  const right_div = document.getElementById('right');
  right_div.prepend(img_element);

  // Populate reviews

  // create tags for each apartment div
  const attributes_div = document.createElement('div');
  attributes_div.className = 'attributes';

  let attributes_div_innerHTML = '';
  Object.entries(apartment.tags_list).forEach( t => {
    const tag = t[0];
    const rating = t[1];

    let color;

    if (rating == 1) {
      color = 'red';
    }
    else if (rating == 2) {
      color = 'yellow';
    }
    else {
      color = 'green';
    }

    attributes_div_innerHTML +=  '<span class="attribute attribute--' + color + '">' + tag.charAt(0).toUpperCase() + tag.slice(1) + '</span>'
  });
  attributes_div.innerHTML = attributes_div_innerHTML;

  const reviews_div = document.getElementsByClassName('reviews')[0];
  reviews_div.prepend(attributes_div);



  const review_h3 = document.createElement('h3');
  review_h3.innerHTML = "Past Reviews (" + apartment.reviews.length + ")";

  // const reviews_div = document.getElementsByClassName('reviews')[0];
  reviews_div.prepend(review_h3);

  apartment.reviews.forEach( review => {

    const review_container_div = document.createElement('div');
    review_container_div.className = 'review-container';

    review_container_div.innerHTML = 
    '<div class="row">' +
      '<div class="col-sm-5">' + 
        '<p id="left-col">' + review.date + '</p>' +
        '<p id="left-col">Overall: ' + review.overall_rating + '/5</p>' +
        '<p id="left-col">Landlord: ' + review.landlord_rating + '/5</p>' +
      '</div>' +
      '<div class="col-sm-6">' +
        '<p id="right-col">' + review.message + '</p>' + 
      '</div>' +
    '</div>';

    reviews_div.appendChild(review_container_div);
  });


</script>