/* --------NAV BAR STYLING--------*/
nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  padding-left: 20px;
}

/* --------BOX STYLING--------*/

.content {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.box {
  border: 2px gray solid;
  padding: 20px 30px;
}

.boxTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.filters {
  margin-top: 20px;
}

#form-control {
  width: 500px;
}

/*--------APARTMENT STYLING--------*/

.bottom {
  margin: 40px 10vw;
}

.apartments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.apartment-container {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));

  box-sizing: border-box;
  margin-bottom: 48px;
  width: 410px;
  padding: 32px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.apartment-text {
  padding: 10px;
}

.image {
  max-height: 200px;
  margin-bottom: 24px;
  border-radius: 16px;
}

.pin {
  margin-right: 6px;
}

.location {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 28px;
}

.info-container {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.info-emoji {
  font-size: 15px;
}

.numReviews {
  text-transform: uppercase;
  font-size: 12px;
}

.otherInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
}

.attributes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-left: -8px;
  margin-right: -8px;
  font-size: 12px;
  text-transform: uppercase;
}

.attribute {
  border-radius: 200px;
  padding: 8px 16px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 16px;
}

.attribute--green {
  background-color: #8cdca3;
}

.attribute--red {
  background: #ff8469;
}

.attribute--yellow {
  background-color: #f9ee90;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 5;
}
