/* --------NAV BAR + SEARCH STYLING--------*/
nav {
  height: 100px;
}

#form-control {
  width: 500px;
}

.navbar-brand {
  padding-left: 20px;
}

/*--------FORM STYLING--------*/

.review-form {
  padding-top: 100px;
}

#reviewTextArea {
  width: 400px;
  height: 200px;
}

/*--------REVIEW STYLING--------*/

.review-container {
  background: #d3d3d3;
  border: 1px solid #d0e5f5;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 48px;
  width: 450px;
}

.review-text {
  padding: 10px;
}

.reviews {
  padding-top: 40px;
}

/*--------APT INFO STYLING--------*/

.info {
  padding: 50px;
  padding-top: 100px;
}

h5 {
  color: gray;
}

.info-container {
  padding-top: 10px;
}

.info-emoji {
  font-size: 25px;
}

.apt-img {
  height: 325px;
}
