/* --------NAV BAR + SEARCH STYLING--------*/
nav {
  height: 100px;
}

#form-control {
  width: 500px;
}

.navbar-brand {
  padding-left: 20px;
}

#search {
  width: 150px;
  background-color: #d01d38;
  color: white;
}

/*--------FORM STYLING--------*/

.review-form {
  background-color: #ffe2b1;
  border-radius: 10px;
  padding: 20px;
  width: 550px;
}

#reviewTextArea {
  width: 500px;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
}

.leave-review {
  color: #d01d38;
}

.dropdown {
  padding-bottom: 10px;
}

#select {
  width: 500px;
  padding-top: 20px;
}

.checked {
  color: #d01d38;
}

#dropdownMenuButton {
  color: grey;
  background-color: white;
}

#submit {
  width: 150px;
  background-color: #d01d38;
  color: white;
}

.buttoncontainer {
  padding-top: 10px;
}

/*--------REVIEW STYLING--------*/

.review-container {
  background: white;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 48px;
  width: 450px;
  overflow: scroll;
}

.review-text {
  padding: 10px;
}

.reviews {
  padding-top: 40px;
}

#left-col {
  padding-left: 10px;
  padding-top: 5px;
}

#right-col {
  padding-top: 5px;
}

/*--------APT INFO STYLING--------*/

.info {
  padding: 50px;
  padding-top: 100px;
}

h6 {
  color: gray;
  padding-bottom: 5px;
}

.info-emoji {
  font-size: 25px;
}

.apt-img {
  height: 325px;
}
